.icon-circle {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-color: #fff0f5;
  color: #ff124f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 28px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect on card: change icon circle and color */
.info-card:hover .icon-circle {
  background-color: #ff124f;
  color: #ffffff;
}